[2019-05-29 21:28] russellb opened #39 "Add field selector support to hostSelector"
PR metal3-io/cluster-api-provider-baremetal#74 added the `hostSelector` field to the baremetal Machine provider spec.  (See doc/api.md)

The initial `hostSelector` support includes the ability to specify `BareMetalHost` matching criteria based on matching labels.  It would also be interesting to add the option of specifying field selectors, so we can match on more than just labels.

A simple use c

[2019-09-30 06:10] maelk opened #38 "Provide a solution for control-plane load-balancing"
This issue is related to https://github.com/metal3-io/cluster-api-provider-baremetal/issues/101. When provisioning a cluster, we need to set up a load-balancer for the control-plane, since we may not be able to rely on a cloud-provider load-balancer. With this issue, we will go through the different alternatives to set up an HA cluster on baremetal nodes without external load-balancer.

We will st

[2019-11-13 18:49] dhellmann opened #37 "Label Machine based on Host"
One of the reasons for supporting the machine API is that we want metal3 clusters to work like other clusters. That means being able to identify machines based on their characteristics, without knowing to look at the host resource. We should therefore have a way to copy label information from hosts onto machines when the host is provisioned.

One way do that is by merging the labels on the host re

[2020-01-17 21:59] sb1975 opened #36 "Error in baremetal node-0"
Getting the below error after trying to build the MEtal3 setup using the https://metal3.io/try-it.html

ubuntu@metal3:~/metal3-dev-env$ kubectl get baremetalhost  -n metal3
NAME     STATUS   PROVISIONING STATUS   CONSUMER               BMC                         HARDWARE PROFILE   ONLINE   ERROR
node-0   error    ready                 test1-controlplane-0   ipmi://192.168.111.1:6230   unknown

[2020-02-11 11:32] kashifest opened #35 "reconcile.Delete() error return might result in objects not being deleted"
Currently reconcile.Delete() returns error in cases for example, when the bareMetalMachine cannot be updated or when the associated userDataSecret cannot be deleted properly. This might result in cases where the deletion workflow beyond the error return leave objects not being deleted eventually. Ideally the errors should be accumulated and returned at the end allowing other objects to be deleted

[2020-02-18 13:27] maelk opened #34 "IP addresses are incorrect when set in the BMM status"
**What steps did you take and what happened:**
When deploying a machine with Ubuntu as base OS, the ip addresses change after deployment compared to the addresses gathered by IPA. However, the addresses listed in the BMM status are the addresses coming from BMH, before they changed. Hence the IP addresses are incorrect.

**What did you expect to happen:**
The controller should update the IP addres

[2020-03-06 10:07] tssavita opened #1 "Example for providing user-data from Machine CRD."
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
1. Created a baremetalhost CRD. It finishes inspection and gets to Ready state.
[code]

2. Created a machine object with the following YAML files.
[code]

[code]

---

**What did you expect to happen:**
- Expected to see my user-data with ssh details as well, in my object. But in the Confi

[2020-03-06 12:56] maelk commented on #1
Can you please show your KubeadmConfig please ?

[2020-03-06 12:58] tssavita commented on #1
kubeadminconfig.yaml
---
apiVersion: bootstrap.cluster.x-k8s.io/v1alpha2
kind: KubeadmConfig
metadata:
  name: kubeadmconfig
spec:
  initConfiguration:
    nodeRegistration:
      name: '{{ ds.meta_data.hostname }}'
      kubeletExtraArgs:
        cloud-provider: baremetal
  clusterConfiguration:
    apiServer:
      extraArgs:
        cloud-provider: baremetal
    controllerManager:
      extraAr

[2020-03-06 21:59] Lukasz-SendGrid opened #3 "CAPM3 references old BMH spec missing network-data"
**What steps did you take and what happened:**
The BMO referenced in go.mod `github.com/metal3-io/baremetal-operator v0.0.0-20200225121200-8161ce57c5af` references an old BMH spec which is missing network-data, merged in here: https://github.com/metal3-io/baremetal-operator/pull/348

When you then go to provision a cluster, CAPM3 will edit the BMH object and not keep the network-data originally de

[2020-03-07 07:58] maelk commented on #3
Thank you for reporting, We'll fix it asap!

[2020-03-07 08:34] maelk commented on #1
It looks like you are using the CRs from the examples folder. Those CRs are not ready for deploying a cluster. If you want to get CRs that would allow you to deploy a cluster, please have a look at https://github.com/metal3-io/cluster-api-provider-metal3/blob/master/docs/getting-started.md . It shows examples of how to set the variables. If you set them properly and export them, then you can use c

[2020-03-07 20:47] #3 closed

[2020-03-09 13:55] tssavita commented on #1
@maelk, thanks for the link to the new doc..
I'm not sure if I missed anything obvious.. I couldn't find the link to download the clusterctl binary/build the binary. Could you point me to where I can install clusterctl on a pre-existing bare metal Kubernetes cluster(not one that I create through pivoting with a kind cluster)? https://master.cluster-api.sigs.k8s.io/clusterctl/overview.html only giv

[2020-03-09 16:41] maelk commented on #1
oh, sorry for that. The clusterctl can be compiled from cluster-api repository, or as soon as CAPI v1alpha3 is released, this will apply : https://deploy-preview-2590--kubernetes-sigs-cluster-api.netlify.com/user/quick-start.html (currently a PR, will be merged soon into master)

[2020-03-09 16:42] maelk commented on #1
If you are following the quickstart, the release will be made tomorrow hopefully. Until then, compiling is your best option probably.

[2020-03-09 18:35] Lukasz-SendGrid opened #10 "CAPM3 Not Setting ProviderID on Node in new Cluster"
**What steps did you take and what happened:**
For some reason editing the remote node spec and setting the ProviderID does not work / happen. Nothing is set for the providerID. I went through the provisioning process as normal, first control plane gets spun up as normal, but the providerID does not get set on the remote node preventing CAPI from setting the control plane initialized status to tru

[2020-03-09 19:54] Lukasz-SendGrid commented on #10
Think the issue is actually because I missed setting `  noCloudProvider: true` in the metal3cluster.

[2020-03-09 19:54] #10 closed

[2020-03-10 16:06] tssavita commented on #1
Thanks for the hint.. I did a `make clusterctl` on the cluster-api repo, and got the binary for clusterctl.
`clusterctl init` installs all the provider components on the baremetal Kubernetes cluster.
I'm tried to run:
`clusterctl config cluster cluster --kubernetes-version v1.17.0` and got the following error:
`Error: failed to identify the default infrastructure provider. Please specify an infras

[2020-03-11 07:01] maelk commented on #1
Our infrastructure provider is named `metal3` . We had an extensive renaming session to move from baremetal to metal3 naming. The metal3 provider is already integrated to clusterctl so you should not need to add it manually, but in case you still want to do it, the url is https://github.com/metal3-io/cluster-api-provider-metal3/releases/latest/download/infrastructure-components.yaml for the latest

[2020-03-11 10:50] tssavita commented on #1
Thanks again for the help.. Yes, will fill PRs..
First up, extremely sorry for the really long comment.
[code]
And then added the version: v0.3.0
[code]
After setting all the environmental variables, and running:
[code]
I piped the above to ```kubectl apply -f```` and the following results.
[code]
I found that although I had already run ```clusterctl init``` it seems like the command does not crea

[2020-03-11 11:16] maelk opened #13 "Speed up unit tests"
**User Story**

Most of the time of the unit test jobs is spent on installing the tools and generating the code that is automatically generated. We should bake in all tools and not regenerate the code as it should be included in the repository.

/kind feature

[2020-03-11 11:48] maelk commented on #1
It seems that you have now a mix on your cluster, some things deployed with BareMetalXXX and some things deployed with Metal3XXXX This is going to break because your controller will be reconciling only one of the resource types. And that might be the reason for the problem in 1. The controller reconciles BareMetalXXX. That's why we said we broke the backwards compatibility. you should either keep

[2020-03-11 14:06] tssavita commented on #1
I started from as much of a cleanslate as is possible - Resetting the cluster. I ran the following commands:

1. Deployed the baremetal-operator
2. ```clusterctl init```
(This time the clusterctl binary was downloaded as per the updated documentation here: https://cluster-api.sigs.k8s.io/tasks/installation.html)
Step 2 doesn't created the metal* CRDs.

[2020-03-12 09:14] tssavita commented on #1
These are the CRDs I have:

baremetalhosts.metal3.io
bgpconfigurations.crd.projectcalico.org
bgppeers.crd.projectcalico.org
blockaffinities.crd.projectcalico.org
certificaterequests.cert-manager.io
certificates.cert-manager.io
challenges.acme.cert-manager.io
clusterinformations.crd.projectcalico.org
clusterissuers.cert-manager.io
clusters.cluster.x-k8s.io
felixconfigurations.crd.projectcalico.org

[2020-03-12 10:28] tssavita commented on #1
Ok, that was my mistake, I had not run clusterctl init --infrastructure metal3. When I ran that, the metal3* CRDs were created.
I created the following file for my use case(which is just scaling up an existing cluster by adding a worker node):
[code]
My baremetalhost status doesn't change to provisioning.
[code]
I looked at the logs from capm3-controller-manager pod's manager container.
[code]
and

[2020-03-12 14:05] maelk commented on #1
The ca secret, like the kubeconfig one should be created automatically if you didn't specify them. So you should not have to create them. I don't know what should be done differently. Is it normal that some ip addresses are replaced by <> in your CRs ?

[2020-03-12 14:27] tssavita commented on #1
I removed the IPs and replaced them with <> :D
In another attempt, I applied the whole output from `clusterctl config create` command, this time with `KubeadmControlPlane` and `Metal3MachineTemplate for the cluster-controlplane(earlier I was removing the control plane CRs since my usecase only needed a clsuter scale up by adding a worker). This time, the host got provisioned, but I still can't see

[2020-03-12 15:55] tssavita commented on #1
Tried providing the network configuration details in CTLPLANE_KUBEADM_EXTRA_CONFIG to confirm my suspicion..
[code]

[2020-03-13 06:48] maelk commented on #1
hum, this looks like there is an indentation problem. The *_KUBEADM_EXTRA_CONFIG are very sensitive with indentation. I would advise to look into this "v1alpha3/controlplane.yaml" file and check the indentation of the KubeadmControlPlane object. files, etc. should be at the same level as initConfiguration.

[2020-03-13 09:24] tssavita commented on #1
Ah yes, you're right. The indentation was the issue.
Update: I could provision the host.
Question: Although I was just adding a worker node, I had to add all the network config in the CTLPLANE_KUBEADM_EXTRA_CONFIG env. If I provide this in the WORKERS_KUBEADM_EXTRA_CONFIG instead, I can't see this information in the configdrive of the  host. And if I delete the controlplane information, and create

[2020-03-13 12:58] maelk commented on #1
Sorry, I'm not clear on what happens when you create a CR with the worker node only. That should be the way to go if you already have a cluster and control plane deployed.

[2020-03-13 15:28] bcg62 opened #15 "failed to associate the Metal3Machine to a BaremetalHost"
**What steps did you take and what happened:**
[code]

[code]

[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Cluster-api version: 0.3.0
- CAPBM version: 0.3.0
- Minikube version: N/A
- environment (metal3-dev-env or other): k3s + clusterctl
- Kubernetes version: (use `kube

[2020-03-13 15:32] maelk commented on #15
The problem is that we do not requeue on failure to update the BMH. CAPM3 should be able to handle a race condition with BMO by immediately requeuing

[2020-03-13 15:33] maelk commented on #15
This will need porting to v1a3 branch too.

[2020-03-16 06:00] maelk opened #19 "Wrong order of actions when associating the BMH to the host"
**What steps did you take and what happened:**
Currently, some actions are taken to update the BMH dependencies object (BMC secret for example) to add a cluster label. Those step update the object before we update the BMH itself, meaning that if the BMH update fails, and the association reruns, we might end up with another BMH, but the secret of the first BMH will still have the label of the clust

[2020-03-16 06:03] kashifest commented on #19
/assign

[2020-03-17 08:00] #15 closed

[2020-03-18 09:18] Xenwar opened #21 "Wrong replicas count in kubeadmcontrolplane status"
**What steps did you take and what happened:**
- Run metal3-dev-env with 4 nodes
- provision a control plane node
- Scale up by changing the replicas to 5 or 7.

The result, status.replicas is 5.

**What did you expect to happen:**
status.replicas should be 4

**Anything else you would like to add:**
1. If you make spec.replicas 5 or 7 does not make a difference.
    status.replicas will be 5.
2.

[2020-03-18 09:18] Xenwar commented on #21
kubeadmControlPlane logs
[code]

[2020-03-18 09:19] Xenwar commented on #21
capi controller manager logs
[code]

[2020-03-18 09:19] Xenwar commented on #21
[code]

[2020-03-18 09:20] Xenwar opened #22 "capm3-controller-manager invalid memory address error"
**What steps did you take and what happened:**
Provision and de-provision a control plane machine multiple times.
It goes to CrashLoopBackOff with invalid memory address error

full log is added as a comment
**What did you expect to happen:**
A success or a graceful failure.

**Anything else you would like to add:**
Regardless of the cause, please do focus on fixing the ` invalid memory address er

[2020-03-18 09:20] Xenwar commented on #22
[code]

[2020-03-18 09:25] maelk commented on #21
Why is this not a CAPI problem ?

[2020-03-18 09:30] Xenwar commented on #21
As was indicated in #3 of the issue description, CAPI is not aware of the infra. It relies on the information we convey to it. So, our controller should be responsible for that.

[2020-03-18 10:26] Jaakko-Os commented on #22
did the provision and de-provision control plane machine procedure succeed once or few times before the crash?

[2020-03-18 10:28] Xenwar commented on #22
The first time it was success. Then it is not predictable. But, the more you repeat the more likely you will see the error.

[2020-03-18 15:14] jingvar opened #23 "CAPBM removes networkData from BareMetalHost"
**What steps did you take and what happened:**

1. Create a BareMetalHost with  spec\networkData and Secret for it.
2. Look at description the BareMetalHost and find "networkData".
3. Wait for status "Ready" of BMH.
4. Create Cluster, BareMetalCluster, Machine, BareMetalMachine.
5. Look at description the BareMetalHost and try to find networkData.

**What did you expect to happen:**
When CAPBM upd

[2020-03-18 15:14] jingvar commented on #23
---
apiVersion: cluster.x-k8s.io/v1alpha2
kind: Cluster
metadata:
  name: test1
  namespace: default
spec:
  clusterNetwork:
    pods:
      cidrBlocks:
      - 192.168.0.0/24
    serviceDomain: cluster.local
    services:
      cidrBlocks:
      - 10.96.0.0/12
  infrastructureRef:
    apiVersion: infrastructure.cluster.x-k8s.io/v1alpha2
    kind: BareMetalCluster
    name: test1
    namespace: de

[2020-03-18 15:17] jingvar commented on #23
[code]

[2020-03-18 15:18] jingvar commented on #23
[code]

[2020-03-18 15:21] jingvar commented on #23
kustomization.yaml
[code]
networkData
[code]

[2020-03-18 16:58] dhellmann commented on #23
I would expect the cluster-api provider to need to set all of the metadata for the host as part of configuring it to become a node. The system should be designed so that users don't need to set information in individual hosts before provisioning them, since most of the settings should come from the Machine/MachineSet.

[2020-03-18 18:14] jingvar commented on #23
I can't find "network" is in the Machine/MachineSet ...

[2020-03-18 19:55] dhellmann commented on #23
It may not be there, yet. My point is that the main API for configuring provisioning a node is the Machine or MachineSet, not the host itself. If we're missing input fields or just not setting things on the host, those are bugs.

[2020-03-19 06:09] maelk commented on #23
This is a known bug with v1alpha2. It was fixed in v1alpha3. Regarding the addition of the networkData field from CAPM3, this is something that we are missing indeed. You can create a feature request to track the work. FYI, we are right now working on adding the metadata field, so my guess would be that networkData could be next.

[2020-03-19 14:10] kashifest commented on #19
@maelk I found only BMC Secret being updated before the host itself, is there any other dependent object?

[2020-03-19 15:18] #19 closed

[2020-03-20 11:25] maelk commented on #22
The core problem, is that in the Delete function, we try to access the BMH namespace, while the BMH might be nil. We need to fix the deletion steps order.

[2020-03-20 11:25] maelk commented on #22
working on it

[2020-03-22 08:54] maelk opened #29 "Fix the namespaces assumptions and handling"
**What steps did you take and what happened:**
Multiple assumptions were taken when developing regarding to namespaces to which the objects belong, and the code does not use the same assumptions consistently. For example, when it comes to the userData secret, if the BMH is in a different namespace, another secret is created. However, in other places, it is assumed that the objects are in the same

[2020-03-22 09:00] maelk commented on #21
I still don't get the problem. If you set the replicas count to be 5, is it not expected that the status would be 5 replicas ?

[2020-03-22 09:01] maelk commented on #23
Can you please try with v1alpha3 and let us know if you still hit the problem ?

[2020-03-22 09:02] maelk commented on #1
Do you have any updates on this @tssavita ? Are you still hitting an issue ?

[2020-03-22 09:31] maelk opened #30 "CAPM3 should not set error on transient failures"
**What steps did you take and what happened:**
For example when failing to update the BMH due to a conflict, CAPM3 reports an error on the Metal3Machine. CAPI picks it up :

[code]

**What did you expect to happen:**
Since it is a temporary failure, waiting for a requeue, it should not be set as error.

**Environment:**

- Cluster-api version: v1alpha3
- CAPBM version: v1alpha3
- Minikube version:

[2020-03-23 05:17] Xenwar commented on #21
Please see the next comment(s) for the same process using deployments/pods.
Notice that the increment is done gradually and at each stage the numbers are shown.

At the beginning we a deployment with replica of 1. Then, we increase the replicas to 20.

[2020-03-23 05:18] Xenwar commented on #21
[code]

[2020-03-23 05:19] Xenwar commented on #21
[code]

[2020-03-23 09:31] #22 closed

[2020-03-23 09:31] #30 closed

[2020-03-23 09:36] maelk commented on #21
are you saying we are missing readyReplicas field ?

[2020-03-23 10:07] Xenwar commented on #21
I did not say that. Although that is an observation one can make.
If we focus on fields that are present in both of the resources, the difference is quite visible.

[code]
Deployment
[code]

[2020-03-23 10:09] maelk commented on #21
ah, so you mean that KCP should wait until the replica is available before creating the next replica ?

[2020-03-23 10:17] Xenwar commented on #21
It is doing that already. When you set the replicas to 7, with only 4 servers/vms. It tries to get a 5th and does not proceed. As was described [here](https://github.com/Nordix/metal3-docs/blob/upgrade_workflow/docs/upgrade-workflow.md#case-1-upgrading-operating-system-image), the process is sequential.

[2020-03-23 10:17] Xenwar commented on #21
I think we can park this issue and come back to it once the upgrade succeeds.

[2020-03-23 15:50] maelk opened #33 "Multiple updates operation on the BMH"
**What steps did you take and what happened:**
Currently, CAPM3 can execute multiple update operations on the BMH. This is problematic because the update triggers a reconcile of the BMH while we still process the BMH, regularly ending in a conflict, triggering a requeue.

**What did you expect to happen:**
We should postpone the update operations as much as possible to do only one update per recon

[2020-03-24 06:47] maelk opened #40 "The Metal3ClusterToMetal3Machines function returns a machine"
**What steps did you take and what happened:**
The Metal3ClusterToMetal3Machines returns references to a machine, instead of a metal3machine. This is a remaining bit from v1alpha1.

**What did you expect to happen:**
It should return a reference to a Metal3Machine, hence m.Spec.InfrastructureRef.Name if set.

/kind bug

[2020-03-24 06:49] kashifest commented on #40
I will look into it.
/assign @kashif

[2020-03-24 06:50] kashifest commented on #40
I will look into it
/assign @kashifest

[2020-03-24 15:36] maelk commented on #35
I don't think this is the case anymore @kashifest  ?

[2020-03-24 17:23] jingvar commented on #23
I tried with v1alpha3 and have got different issue.
1. I had very long time with BMH in "registering" state.
2. after provisioning, network Data was in BMH, but was not into config drive

[2020-03-24 17:25] jingvar commented on #23
[code]

[2020-03-24 19:37] kashifest commented on #35
I guess this was solved in one of your recent fixes? I don't recall which one

[2020-03-25 08:32] maelk commented on #23
Did you define the networkData in the BMH ? Can you also show your BMH and networkData ?

[2020-03-25 08:34] maelk commented on #35
It was fixed here I think : https://github.com/metal3-io/cluster-api-provider-metal3/commit/319d9d51c8e2875e4c89849b3008b082bf039620
/close

[2020-03-25 08:34] #35 closed

[2020-03-25 08:38] maelk commented on #1
/close since this has been inactive for a while, please reopen if you are still hitting the issue

[2020-03-25 08:38] #1 closed

[2020-03-25 09:13] jingvar commented on #23
[code]

[2020-03-25 09:14] jingvar commented on #23
networkData
[code]

[2020-03-25 09:21] #40 closed

[2020-03-25 09:28] Xenwar opened #42 "Provisioning not starting soon enough when done repeatedly"
**What steps did you take and what happened:**
- Provision and de-Provision a control plane node few times.

At some point, Provisioning does not start at all and the bmh states remains ready.

The waiting time passes 30 minutes. Normally, it should start within 10 minutes.
It is safe assume that the provisioning will not start at all.

**What did you expect to happen:**
- Each time, the provision

[2020-03-25 09:29] Xenwar commented on #42
capi-controller-manager-664c75c4df-lxczd.log
I0325 08:25:00.908046       1 machine_controller_noderef.go:53] controllers/Machine "msg"="Machine doesn't have a valid ProviderID yet" "cluster"="test1" "machine"="test1-controlplane-dlxrc" "namespace"="metal3"
E0325 08:25:00.909659       1 machine_controller.go:215] controllers/Machine "msg"="Reconciliation for Machine asked to requeue" "error"="Boots

[2020-03-25 09:29] Xenwar commented on #42
[code]

[2020-03-25 09:29] Xenwar commented on #42
[code]

[2020-03-25 09:29] Xenwar commented on #42
[code]

[2020-03-25 10:47] maelk commented on #23
thank you. Do you also have the content of the config drive ? and the logs from BMO ? Maybe the cloud-init logs too ? The CRs look good so there might be a bug somewhere.

[2020-03-25 12:36] Xenwar opened #44 "Upgrade not running to completion when changing OS image"
**What steps did you take and what happened:**

- Provision a control plane node
- Save the Metal3MachineTemplate resource in the metal3 namespace to disk.
- Edit its by changing its name, OS image url and hash to new valid values.
- Then save new file to kubernetes, ```kubectl create -f ....```
- Edit the KubeadmControlPlane resource in the metal3 namespace by changing
the ```infrastructureTempla

[2020-03-25 12:37] Xenwar commented on #44
[code]

[2020-03-25 12:37] Xenwar commented on #44
[code]

[2020-03-25 12:37] Xenwar commented on #44
[code]

[2020-03-25 15:21] maelk commented on #42
This is happening on master, or on the specified release ? how are you deploying ? because there is a bug that could cause this, but only with v1alpha4.

[2020-03-25 15:30] jingvar commented on #23
[code]
kubectl describe bmh
[code]

[2020-03-25 16:14] maelk opened #45 "Wrong contract labels for v1alpha4"
**What steps did you take and what happened:**
The cluster labels applied in config/crd/kustomization.yaml are

[code]

**What did you expect to happen:**
They should be
[code]
with the correct separator when this PR is merged : https://github.com/kubernetes-sigs/cluster-api/issues/2775

**Environment:**

- Cluster-api version: v0.3.2
- CAPBM version: master

/kind bug

[2020-03-25 16:16] maelk opened #46 "UpdateObject function should operate on a deepcopy of the object"
**What steps did you take and what happened:**
the UpdateObject (and maybe createObject too) functions in metal3machine_manager.go (branch release-0.3) should operate on deepcopies of the object. Using the object directly translates into a lost status.

- Cluster-api version: 0.3.2
- CAPBM version: 0.3.0

/kind bug

[2020-03-25 16:23] maelk commented on #46
This should be fixed both in master and in branch release-0.3

[2020-03-25 17:45] maelk commented on #23
okay, at this point I can only say that the problem is most probably not coming from CAPM3. It might rather be in BMO or ironic. Should we move this issue there ?

[2020-03-25 18:22] jingvar commented on #23
I don't know, because provisioning by BMH directly works fine.

One thing.
If I do provisining by BMH, then delete BMH, and do provisioning  by CAPI/Metal3Machine/ etc - all work fine.

[2020-03-26 05:22] Xenwar commented on #42
I am deploying as follows.
[code]

[2020-03-26 06:16] maelk commented on #42
ok, then this is something that needs to be investigated.

[2020-03-26 06:21] maelk commented on #42
How many control plane nodes do you have ? If one only, you cannot deprovision and reprovision it without completely deleting the cluster. Otherwise it will try to use "kubeadm join" when the cluster has been deprovisioned. you can do that only if you have at least three masters. Is this your case ? and if it is, has the initial provisioning fully completed ?

[2020-03-26 06:27] Xenwar commented on #42
I have only one control plane node provisioned and three others in ready state.
This use case is ```a single master upgrade with extra node(s)```.
And, relevant to this issue is that fact that the work flow successful. as of 16.03.1020

If this is not a valid use case, then the task list needs to be revisited and use cases redefined again.

[2020-03-26 06:30] Xenwar commented on #42
I agree. It might better to split this issue into two, if current investigations do not yield fruit.
1. Why does it fail to create the new node successfully.
2 .Why is the original node affected/changed before the success of the new one.

[2020-03-26 07:13] maelk opened #47 "The cluster to M3Machine mapping should be done using ClusterToInfrastructureMapFunc"
**What steps did you take and what happened:**
We have implemented our own function mapping clusters to M3Machine. CAPI has a helper that is more advanced that we should use instead : ClusterToInfrastructureMapFunc . We need to replace the function called here : https://github.com/metal3-io/cluster-api-provider-metal3/blob/master/controllers/metal3machine_controller.go#L255 . Similarly, https://gi

[2020-03-26 07:33] maelk opened #48 "Comparison including version should only use Kind and group"
**What steps did you take and what happened:**
In some places we compare objects group version and kind, when we should only compare group and kind to keep things working across upgrades. For example https://github.com/metal3-io/cluster-api-provider-metal3/blob/master/controllers/metal3machine_controller.go#L350 .

This needs to be fixed in both v0.3.1 and v0.4.0

/kind bug

[2020-03-26 07:36] maelk commented on #47
This is invalid. /close

[2020-03-26 07:54] maelk commented on #48
This also needs fixing in both versions : https://github.com/metal3-io/cluster-api-provider-metal3/blob/master/baremetal/metal3machine_manager.go#L770

[2020-03-26 07:55] maelk commented on #48
/assign @jan-est

[2020-03-26 09:50] maelk commented on #45
The new way to specify multiple versions is v1alpha3_v1alpha4

[2020-03-26 09:50] maelk commented on #45
so the labels should be
[code]

[2020-03-26 12:07] #29 closed

[2020-03-27 05:21] Jaakko-Os commented on #46
How was the 'lost status' detected?
Is there a test case that reproduces this problem?

[2020-03-27 06:32] mikkosest commented on #33
/test-v1a4-integration

[2020-03-27 06:49] maelk commented on #33
/assign kikkosest

[2020-03-27 06:50] maelk commented on #33
/assign mikkosest

[2020-03-27 06:56] maelk commented on #46
it was detected in the metadata implementation phase. There is no test case that tests this, but you could add one on the updateObject function. Calling the function with an object with the status , after the call the object should retain its status.

[2020-03-27 07:45] #46 closed

[2020-03-27 09:13] #45 closed

[2020-03-27 11:36] maelk opened #55 "Documentation update"
**What steps did you take and what happened:**
The documentation in /docs folder is still about v1alpha2 in some places

**What did you expect to happen:**
The documentation should be about v1alpha3 or v1alpha4 depending on the branch

**Environment:**

- CAPBM version: v1a3 and v1a4

/kind bug

[2020-03-27 12:04] #33 closed

[2020-03-28 09:02] maelk commented on #48
@jan-est did you fix it for the release-0.3 branch ?

[2020-03-28 09:03] #47 closed

[2020-03-30 12:02] maelk commented on #48
merged
/close

[2020-03-30 12:02] #48 closed

[2020-03-30 12:29] maelk opened #59 "CAPM3 not waiting for BMH to be in ready or available state"
**What steps did you take and what happened:**
When choosing a BMH, CAPM3 does not consider the state the BMH is in. It will associate a Metal3Machine with a BMH as long as that BMH does not have a consumer ref or is not in error. If it is in inspecting state for example, and the inspection fails, it migth break the deployment of the cluster in some cases.

**What did you expect to happen:**
CAPM3

[2020-03-30 16:28] #59 closed

[2020-03-31 08:16] #55 closed

[2020-04-01 17:03] maelk opened #64 "CAPM3 should not select a BMH that is paused"
**What steps did you take and what happened:**
Currently, when selecting a BMH, CAPM3 verifies that the BMH is available and in ready/available state. This is problematic because the BMH could be paused indefinitely, causing the machine deployment to fail on timeout from CAPI side.

**What did you expect to happen:**
CAPM3 should not consider BMH that have the pause annotation.

- Cluster-api vers

[2020-04-01 17:04] maelk commented on #64
/assign @Jaakko-Os

[2020-04-01 17:04] maelk commented on #64
This needs to be fixed in master and release-0.3 branch

[2020-04-01 17:07] maelk commented on #64
The modifications should be done in this part of the code : https://github.com/metal3-io/cluster-api-provider-metal3/blob/master/baremetal/metal3machine_manager.go#L729

[2020-04-02 10:39] Jaakko-Os commented on #64
I checked and seems that BMH pause only in master branch

[2020-04-02 12:26] maelk commented on #64
the Pause field is on the BMO side, it is independent of CAPM3. This issue is valid for release-0.3

[2020-04-02 12:27] maelk commented on #64
@Jaakko-Os Please backport your bug, and close this issue only when the backport is merged.

[2020-04-02 12:48] Xenwar commented on #44
Removing previous log comments and adding new ones with more controllers.

[2020-04-02 12:50] Xenwar commented on #44
capi-controller-manager-6b584cb4b7-wb6vv.log
[code]

[2020-04-02 12:50] Xenwar commented on #44
capi-kubeadm-bootstrap-controller-manager-689678664d-vrp4f.log

[code]

[2020-04-02 12:50] Xenwar commented on #44
capi-kubeadm-control-plane-controller-manager-57bcb55696-jwkj2.log

[code]

[2020-04-02 12:52] Xenwar commented on #44
capm3-controller-manager-8d8dd9f68-7cxww.log

[code]

[2020-04-02 12:54] Xenwar commented on #44
baremetal-operator.log

[code]

[2020-04-02 12:55] Xenwar commented on #44
In the above logs, some repeating logs are removed for brevity.

[2020-04-03 05:07] Jaakko-Os commented on #64
Checked on the BMO side and it seems that pause is handled in the reconcile-loop https://github.com/metal3-io/baremetal-operator/blob/master/pkg/controller/baremetalhost/baremetalhost_controller.go#L193

[2020-04-03 05:12] maelk commented on #64
yes, but CAPM3 should not select a BMH that is paused. that is the bug we are talking about

[2020-04-03 08:07] Jaakko-Os commented on #64
Now this bug report is ready to be closed

[2020-04-03 08:23] #64 closed

[2020-04-09 18:04] Arvinderpal opened #70 "Node.Spec.ProviderID not updated after Move"
After a clusterctl move from say a bootstrap cluster to a target cluster, the K.Node.Spec.ProviderID still contains the UID of the old BMH object.

Simply updating the Node.Spec.ProviderID is not currently allowed as validation checks prevent Node.Spec.ProviderID to be changed after it has been set to a non-nil value (see https://github.com/kubernetes/kubernetes/pull/51761)
	```Forbidden: node upd

[2020-04-10 14:45] maelk commented on #70
Thanks, we'll take care of this in v1alpha4. I'd rather go with not using the UID, but another unique identifier such as namespace/name combination. We could also not tie it to the bmh anymore if it makes sense, especially considering the incoming metadata change that allow us a lot of flexibility

[2020-04-10 14:47] maelk commented on #70
We could also keep it as is, considering that the provider id in our case is just used to match the machine and the node, and that it still appears in the machine correctly.

[2020-04-15 13:51] stbenjam commented on #42
@Xenwar Any updates on this? Do you plan to split this issue out?

[2020-04-15 15:43] Xenwar commented on #42
Yes, I intend to split this issue into two. But, we have other issues blocking us from working on it.
Will do that as soon as possible

[2020-04-21 10:35] Jaakko-Os commented on #44
Open bugs that seem to impact this issue:
https://github.com/kubernetes-sigs/cluster-api/issues/2915
https://github.com/kubernetes-sigs/cluster-api/issues/2771
https://github.com/kubernetes-sigs/cluster-api/issues/2859

[2020-04-25 14:00] Arvinderpal commented on #70
I'm fine with either Name+Namespace or a static ProviderID value that's not tied to UID.
The bug will manifest anytime someone tries to map K.Node <--> BMH.

[2020-04-27 05:22] maelk commented on #70
Isn't it right now already a static ProviderID value ? It is created as the BMH UUID, but afterwards, for example if you do a move, then the only place you can find it is in the Metal3Machine Spec. So after a move you can still do the mapping with an intermediary step : K.Node <--> M3Machine <--> BMH if needed. If you take this approach from the start, whether we are using the original node UUID o

[2020-04-27 22:37] Arvinderpal commented on #70
Yes, with the intermediary step things work out fine. However, for future reference, we should probably document that direct K.Node <---> BMH is not advisable b/c of the move operation.

[2020-04-28 04:32] Xenwar commented on #21
There is a new similar issue on the CAPI side, https://github.com/kubernetes-sigs/cluster-api/issues/2771.

We can rely on the decision there and close this one. If the `cluster-api-provider-metal3` controller is contributing to the stale information, then we can create a separate issue.

[2020-04-28 04:34] Xenwar commented on #21
Earlier, we could not proceed with this issue due to failure in upgrade. Now that the issue is reproduced somewhere else as described above and that it is not related to upgrade failure, I am closing this one.

[2020-04-28 04:34] #21 closed

[2020-04-28 06:04] maelk commented on #70
Agreed with that. So we could solve this issue with a documentation update, right ?

[2020-04-28 12:11] maelk commented on #37
This could now be achieved by using the metadata feature to set labels through the Kubelet config done by kubeadm (https://github.com/metal3-io/metal3-docs/pull/85) , if the label keys are known beforehand. Does this fulfill this issue @dhellmann ?

[2020-04-28 12:14] maelk commented on #23
The networkdata feature was now merged in v1alpha4. Are you still hitting a problem here ?

[2020-04-28 14:14] dhellmann commented on #37
I had thought we would just have the cluster-api-provider copy labels off of the host onto the machine, but maybe that's not needed.

I will go ahead and close this ticket for now and we can reopen it or create a new one when the requirements are clearer.

[2020-04-28 14:14] #37 closed

[2020-04-29 13:30] maelk commented on #42
Any updates on this ?

[2020-04-29 13:33] Xenwar commented on #42
Not yet. But, will update this issue by tomorrow.

[2020-04-30 06:52] Xenwar opened #74 "Kubernetes version upgrade fails both new and old nodes due to keepalived failure"
**What steps did you take and what happened:**
In metal3-dev-env, set KUBERNETES_VERSION to "v1.18.0"

./scripts/v1alphaX/provision_cluster.sh
./scripts/v1alphaX/provision_controlplane.sh

Once provisioned, ssh into the node and run
```kubeletcl get pods -A```, if you see pods, proceed.

update k8s version to "v1.18.1" by edit the kcp resource.
```kubectl edit kcp -n metal3```

After a while the u

[2020-04-30 06:54] maelk commented on #74
did you ssh on the nodes to check if one of them has the VIP assigned ? any keepalived logs ?

[2020-04-30 06:55] Xenwar commented on #42
For the second case, please refer to https://github.com/metal3-io/cluster-api-provider-metal3/issues/74

[2020-04-30 06:58] Xenwar commented on #74
Original node
[code]
And,
[code]

[2020-04-30 07:00] Xenwar commented on #74
new node
[code]
And,
[code]

[2020-04-30 07:06] Xenwar commented on #74
[code]

[2020-04-30 07:12] Xenwar commented on #74
[code]

[2020-04-30 07:14] Xenwar commented on #74
capi-kubeadm-control-plane-controller-manager-57bcb55696-f9zk6.log

E0430 07:00:42.465143       1 controller.go:147] controllers/KubeadmControlPlane "msg"="Failed to update KubeadmControlPlane Status" "error"="failed to create remote cluster client: failed to create client for workload cluster metal3/test1: Get https://192.168.111.249:6443/api?timeout=30s: dial tcp 192.168.111.249:6443: connect: c

[2020-04-30 07:21] Xenwar commented on #74
keepalived log, new node
[code]
keepalived log, original node
[code]

[2020-04-30 07:23] Xenwar commented on #74
Relevant logs added. Also, issue description updated to point the focus of investigation.

[2020-04-30 07:27] Xenwar commented on #42
@maelk @stbenjam
I have created a new issue for second one. #74.
I am still able to reproduce the first one, but not consistently. I will take it as a side task to gather more evidence while working on other upgrade issues.

[2020-04-30 07:28] maelk commented on #74
The VIP is present on the old node, so it would look like keepalived is doing its job. The problem is probably somewhere else, no ?

[2020-04-30 07:32] Xenwar commented on #74
I agree, this may not even be keepalived. However, as indicated on the description, this issue is a split of #42.
I could be wrong, but I see two issues.
1. The VIP should migrate to the new node
2. Until the new one succeeds, the old one should function as usual.

[2020-04-30 07:38] Xenwar commented on #44
This issue is reproduced with k8s version upgrade as well. And, this is not related to the (earlier block issue)[https://github.com/kubernetes-sigs/cluster-api/pull/2958].

Gathering more information.

[2020-04-30 07:42] maelk commented on #74
1. It depends, with the current configuration it would change to the new node only if the ip address is higher on the new node.
2. that's the core of the issue here. Is api-server still running ? did it crash ? any logs of errors on the node anywhere ?

[2020-04-30 07:43] maelk commented on #74
And I would say that this issue is a metal3-dev-env issue, not a CAPM3, as it depends on the Kubeadmconfig templates that we provide in metal3-dev-env

[2020-04-30 07:46] Xenwar commented on #74
Thanks. I will into both. And, move the issue to metal3-dev-env based on the outcome of the above two.

[2020-05-05 09:05] Xenwar commented on #42
The first case is out of scope and not a valid use case. Closing this issue.

[2020-05-05 09:05] #42 closed

[2020-05-11 03:54] Xenwar commented on #74
The issue is caused by 1.
The VIP is kept in the old while there are not services running (etcd is one) on the old one.
This issue can be closed.

[2020-05-11 03:55] #74 closed

[2020-05-11 03:56] Xenwar commented on #44
This issue was caused by VIP not migrating to the control plane node. That made both old and new control plane nodes none responsive.

[2020-05-11 03:56] #44 closed

[2020-05-22 07:48] maelk commented on #13
/assign @digambar15

[2020-05-22 07:49] maelk commented on #13
@digambar15 will try to tackle this one, as discussed offline

[2020-05-22 10:30] maelk opened #79 "Infinite reconciliation loop when waiting for provisioning"
**What steps did you take and what happened:**
When a node is being provisioned, the controller keeps reconciling the metal3machine about every second.

**What did you expect to happen:**

It should not reconcile the metal3machine until the BMH is updated, and probably provisioned.

**Anything else you would like to add:**
It looks like the call to updateObject function in https://github.com/metal

[2020-05-28 09:34] #79 closed

[2020-06-04 10:54] maelk opened #88 "Metal3machine controller looking for a node with wrong label after pivoting"
**What steps did you take and what happened:**
After pivoting, the BMH UID has changed. however, the providerID of the node and m3m did not change, so https://github.com/metal3-io/cluster-api-provider-metal3/blob/master/controllers/metal3machine_controller.go#L242 is incorrect, because the providerID exists and is already set to a different value than the BMH UID.

**What did you expect to happen:

[2020-06-04 15:03] #88 closed

[2020-06-05 10:06] #13 closed

[2020-06-15 13:53] maelk commented on #23
Closing this due to inactivity. Please open again if the problem still happens
/close

[2020-06-15 13:53] #23 closed

[2020-06-22 05:35] maelk commented on #34
/remove-lifecycle stale

[2020-06-22 20:10] maelk commented on #39
/remove-lifecycle stale

[2020-06-22 20:10] maelk commented on #38
/remove-lifecycle stale

[2020-07-06 09:26] tssavita opened #107 "Looking for the right way to provide Static IPs for masters and workers."
I was not sure in which category this fit and hence the blank template.

Use case: I would like to have 1 master and 2 workers in my cluster. I want to create bond interfaces in the baremetalhosts and set static IPs for these workers.

Your documentation here: https://github.com/metal3-io/cluster-api-provider-metal3/blob/master/docs/getting-started.md is quite useful!
However in my case I would pr

[2020-07-06 10:48] maelk commented on #107
Hi! You can unfortunately use static IP address allocations and MachineDeployment / KubeadmControlPlane only if your hardware is homogeneous. i.e. the same configuration can be applied on both hosts. So if your hardware is exactly the same with the same interface order and connectivity, then you can use a machine deployment with a KubeadmConfigTemplate and Metal3DataTemplate for the two workers. I

[2020-07-07 09:43] tssavita commented on #107
Got it. Will provide and test bond network interface information through Metal3DataTemplate and create separate machines which have same kubeadmconfig.

[2020-07-07 09:43] #107 closed

[2020-07-10 09:58] tssavita opened #112 "Configuring a bond interface:"

[2020-07-10 09:59] #112 closed

[2020-07-21 18:32] #36 closed

[2020-07-22 13:30] maelk commented on #39
This is at least partially addressed by the Hardware classifier, closing for now, feel free to re-open if needed
/close

[2020-07-22 13:30] #39 closed

[2020-07-29 09:10] Xenwar opened #122 "De-provisioning and immediately Provisioning a CP node not starting"
**What steps did you take and what happened:**

1. Provision a controlplane node, wait until it is provisioned.
2. Then run the following command
`./scripts/v1alphaX/deprovision_cluster.sh && ./scripts/v1alphaX/provision_cluster.sh && ./scripts/v1alphaX/provision_controlplane.sh`

The result is that a new kcp resource is saved to etcd, but no CP node is provisioned.

**What did you expect to happe

[2020-07-29 09:11] Xenwar commented on #122
[code]

[2020-07-29 12:27] maelk commented on #122
did you leave sufficient time between the deprovisioning and the provisioning operations for the cluster objects to be deleted ? If not you would be somewhere between creating new objects and updating objects that have a deletion timestamp and will be deleted, anyways in an unstable scenario with unpredictable behaviour. you need to make sure all your resources were deleted before provisioning aga

[2020-07-29 12:34] Xenwar commented on #122
My view is a bit different.
I did not clean up properly on purpose.
If the KCP is saved, the it should result in a CP node. That is what this issue is for.
And, the old and the new KCP should be handled separately.

If, however, it is the setup in metal3-dev-env that has caused it, then we can close this issue.

[2020-07-29 12:45] Xenwar commented on #122
To make my point a bit clearer,:
The source of truth is what is in the etcd and the controllers are to actuate that.
So, either we do not save it or the controllers have to act on it.
My guess is that the saving event is lost or ignored.

[2020-07-29 13:37] maelk commented on #122
Not really. the issue would rather be that your objects have the exact same name, so you are mainly updating an object that is undergoing deletion. and an update does not remove the deletion timestamp, so your KCP should end up deleted anyways, except if it had been deleted, and in that case you created a new one, but that needs to be for all objects, including the cluster object. Is it clearer ?

[2020-07-29 13:41] Xenwar commented on #122
Ok. Thanks good to know.

[2020-07-29 13:41] #122 closed

[2020-08-03 14:29] DmitryGrayscale opened #125 "CAPI isn't deployed correctly after "make deploy""
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
I use fresh K8s cluster deployed with GCP Kubernetes engine
Performing **make deploy** in fresh cloned metal3-io/cluster-api-provider-metal3 repo
results in
[code]

[code]
**What did you expect to happen:**
CAPI controllers up and running

**Anything else you would like to add:**
[Miscella

[2020-08-10 08:10] maelk commented on #125
Hi! Thank you for the report. We'll fix the problem asap.

[2020-08-10 11:19] DmitryGrayscale commented on #125
Hi! currently I use the following snippet as a temporary solution:
[code]
probably it's better to just rely on clusterctl tool rather than use raw configs from github.com/kubernetes-sigs/cluster-api/config/

[2020-08-10 12:08] maelk commented on #125
I'm not that sure. This is supposed to be a way to test  CAPM3, without dependencies anywhere. Adding a requirement that clusterctl must be installed (or installing it, and managing the versions etc.) adds some complexity that might be unnecessary ? Your workaround might be better with that regard. Do you want to submit a PR with it ?

[2020-08-11 14:50] #125 closed

[2020-08-20 12:12] maelk commented on #70
/remove-lifecycle stale

[2020-09-01 13:32] smoshiur1237 opened #130 "Extra control plane is provisioned during downgrading kubernetes version from v1.19.0 to v1.18.0"
**What steps did you take and what happened:**
The test was done in metal3-dev-env with 4 baremetal hosts where we have 3 control plane and one free BMH . First upgraded the kubernetes version by editing the KCP from 1.18.0 to 1.19.0. Upgrade works properly and after that downgrade the kubernetes version from 1.19.0 to 1.18.0 by editing again the KCP. All 3 controlplane was downgraded to 1.18.0 bu

[2020-09-15 21:57] furkatgofurov7 commented on #70
/assign

[2020-09-23 16:18] #70 closed

[2020-10-20 06:13] #34 closed

[2020-10-20 20:12] #38 closed

[2020-12-30 13:47] #130 closed

[2021-02-17 12:44] fmuyassarov opened #159 "Remove unsupported v1alpha2"
Since we are not supporting v1alpha2 API anymore, we should get rid off [api/v1alpha2](https://github.com/metal3-io/cluster-api-provider-metal3/tree/master/api/v1alpha2) CAPM3.

This could be done in when migrating to Cluster API v1alpha4, or separately.

[2021-02-17 12:45] fmuyassarov commented on #159
/kind bug

[2021-02-17 12:51] fmuyassarov opened #160 "Prepare to CAPI v1alpha4"
Each CAPI infra providers are required to make some changes before taking CAPI v1alpha4 in.
CAPI community is working on the [document](https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/book/src/developer/providers/v1alpha3-to-v1alpha4.md) to list the changes required in provider side when moving from v1alpha3 to v1alpha4.

We can keep track of the work that needs to be done in CAPM3

[2021-02-26 10:57] fmuyassarov commented on #159
/kind cleanup

[2021-02-26 12:21] levsha opened #166 "admission webhook "default.metal3machinetemplate.infrastructure.cluster.x-k8s.io" does not support dry run"
**What steps did you take and what happened:**

\# cat machine.yaml
apiVersion: infrastructure.cluster.x-k8s.io/v1alpha4
kind: Metal3MachineTemplate
metadata:
  name: workers
  namespace: default
spec:
  template:
    spec:
      image:
        checksum: XXXXXXX
        checksumType: sha256
        format: null
        url: http://image.url/does.not.matter

\# kubectl -f machine.yaml apply --dry-r

[2021-02-26 15:42] fmuyassarov commented on #166
/cc @maelk

[2021-03-02 20:43] fmuyassarov opened #177 "Upgrade CustomResourceDefinition to v1"
The `apiextensions.k8s.io/v1beta1` API version of `CustomResourceDefinition` will no not be served anymore starting from K8s v1.22. We should upgrade all our CRDs to v1.

Reference document: https://kubernetes.io/docs/reference/using-api/deprecation-guide/#customresourcedefinition-v122

[2021-03-02 23:23] fmuyassarov commented on #177
We should also aim to upgrade the Kubebuilder version to [v3](https://master.book.kubebuilder.io/migration/v2vsv3.html), so that in the future when new APIs are created they will be v1 based.

[2021-03-03 00:31] fmuyassarov commented on #177
I'm not sure why, but only some of the fields are `apiextensions.k8s.io/v1beta1` based.

[2021-03-03 00:55] fmuyassarov commented on #177
On top of that, `admissionregistration.k8s.io/v1beta1` API version of MutatingWebhookConfiguration and ValidatingWebhookConfiguration will no longer be served in v1.22.

[2021-03-10 08:01] fmuyassarov commented on #177
Fix: https://github.com/metal3-io/cluster-api-provider-metal3/pull/181

[2021-03-17 20:49] #159 closed

[2021-03-29 10:00] macaptain opened #185 "vlanID field misdocumented as vlanId"
**What steps did you take and what happened:**
I applied a Metal3DataTemplate manifest with the following `spec[networkData[links[vlans]]]` field:

[code]

vlanId (lowercase d) is what's documented in the API: https://github.com/metal3-io/cluster-api-provider-metal3/blob/master/docs/api.md#links-specifications **links/vlans/vlanId**. But in the code the struct expects the field 'vlanID': https://g

[2021-03-29 11:41] maelk commented on #185
The documentation should be fixed. Will you open a PR ?

[2021-03-29 11:44] macaptain commented on #185
Yes, I am happy to open a PR so that the field is `vlanID` in API documentation and examples.

[2021-03-30 06:34] #185 closed

[2021-04-09 10:24] furkatgofurov7 opened #191 "Add e2e tests consuming CAPI's e2e testing framework"
**User Story**
Currently, we do not have E2E tests in the repo and we would like to consume [CAPI's e2e testing framework](https://pkg.go.dev/sigs.k8s.io/cluster-api/test/framework) to make this provider similar to the others and easy to maintain the tests.

As an operator we would like to:

- Provide consistent e2e expectations across infrastructure providers
- Have a testing framework to test al

[2021-04-19 06:03] maelk opened #196 "BMH NetworkData and userData cleaned on deprovisioning when they should not"
**What steps did you take and what happened:**
This bug was raised by the airship project. CAPM3 deletes the content of the networkData and metaData fields even when it does not manage them.

**What did you expect to happen:**
CAPM3 should not always delete those, only when the networkData and metaData fields are set in the status of the metal3machine

**Anything else you would like to add:**
The

[2021-04-22 14:10] #196 closed

[2021-05-18 15:17] furkatgofurov7 commented on #160
/remove-lifecycle stale.

[2021-05-18 15:17] furkatgofurov7 commented on #160
/remove-lifecycle stale

[2021-05-24 06:45] #191 closed

[2021-06-01 15:42] maelk commented on #166
I think this was fixed in the  linked PR
/close

[2021-06-01 15:42] #166 closed

[2021-06-03 11:12] kashifest opened #219 "Remove v1alpha3 types"
We are not supporting v1alpha3 API anymore, we should get rid off api/v1alpha3 CAPM3.

/kind feature

[2021-06-08 12:14] #177 closed

[2021-07-01 21:41] MaxRink opened #238 "controllers/Metal3LabelSync/metal3-label-sync-controller back off not correctly set"
**What steps did you take and what happened:**
Im currently seeing a lot of these Log messages in my CAPM3 logs
[code]
As the basically reoccur every half a second or so and only pause after  about 10-15 tries for 10 secons i assume that the backoff for recnciliation isnt properly working as that should propably not run every half a second.

**What did you expect to happen:**

Not getting spammed

[2021-07-06 21:13] fmuyassarov commented on #238
I agree, at some point I have seen this too and it is annoying.
@Arvinderpal would you have some time to fix this?

[2021-07-06 21:14] fmuyassarov commented on #219
This is done in https://github.com/metal3-io/cluster-api-provider-metal3/pull/228
/close

[2021-07-06 21:14] #219 closed

[2021-07-06 23:51] Arvinderpal commented on #238
Sorry about that.

[It's currently set to 1 second](https://github.com/metal3-io/cluster-api-provider-metal3/blob/master/controllers/metal3labelsync_controller.go#L48).

I can change this to 30 seconds -- which is generally what we use [everywhere else](https://github.com/metal3-io/cluster-api-provider-metal3/blob/master/controllers/metal3cluster_controller.go#L43)? NodeRef assignment is one of th

[2021-07-07 06:51] fmuyassarov commented on #238
Yeah, I think 30 seconds would be good enough.

[2021-07-07 18:40] schrej opened #244 "Metal3Data and IPAddressClaim objects have unpredictable names"
**What steps did you take and what happened:**
When creating a machine deployment, the Machines, Metal3Machines and Metal3DataClaims use names with a random suffix. When the Metal3DataClaims are fulfilled, those Metal3Data objects aren't using the same randomized names, but incremental ones instead. The IPAddressClaims that get created while creating Metal3Data objects also use those incremental n

[2021-07-08 10:23] MaxRink opened #246 "Add ability to get more than one IP out of an IP Pool"
**User Story**

As a User with external Storage boxes i want the ability to get multiple IPs out of one IPPool for Multipathing

**Detailed Description**

We are running our Servers with dedicated storage boxes (based around iSCSI) and are not using Link aggregation but Multipathing to those storage arrays.
For this we need one IP per NIC, out of the same Subnet/IPPool.
Currently Metal³ doesnt all

[2021-07-08 13:17] maelk commented on #244
We are using incremental names for the Metal3Data to ensure that the index of the Metal3Data is unique. This way, two metal3Data cannot be created with the same index, Kubernetes would refuse it. The ipclaim then uses the same name as the metal3Data.
Changing this behavior would make it complicated to ensure that the index (or ip address for the ipaddress object) remains unique. We considered alte

[2021-07-08 17:11] Arvinderpal commented on #238
@fmuyassarov PTAL: https://github.com/metal3-io/cluster-api-provider-metal3/pull/249

[2021-07-08 17:19] MaxRink opened #250 "Improve logging of Data creation"
**User Story**

As a user I would like to have insight where my Metal3Data creation is and where it might be stuck.

**Detailed Description**

Right now the Creation of Metal3Data out of Templates doent indicate the exact point where it is and what resources it is still waiting for.
This makes it really hard to find issues in your data templates.
Increased logging with info like "waiting for ipAdd

[2021-07-09 07:44] fmuyassarov commented on #238
This was fixed in #238.
/close

[2021-07-09 07:44] #238 closed

[2021-07-21 17:28] Arvinderpal opened #255 "CAPM3 sets failureReason/failureMessage for recoverable errors"
The [capi docs](https://github.com/kubernetes-sigs/cluster-api/blob/master/api/v1alpha3/machine_types.go#L125-L129) on failureReason/failureMessage state that the fields should only be used for terminal errors and not transitive errors. CAPI also[ looks at these fields](https://github.com/nader-ziada/cluster-api/blob/master/controllers/machine_controller_phases.go#L154) in the provider's Machine o

[2021-07-23 13:54] furkatgofurov7 commented on #246
@MaxRink this seems to be not a CAPM3 but more IPAM issue, would you mind opening it there and close this one?

[2021-08-02 15:57] MaxRink commented on #246
The IPAM is already capable of doing this @furkatgofurov7

[2021-08-03 09:42] MaxRink opened #264 "kubectl delete cluster doesnt trigger correct cleanup of metal3 resources"
**What steps did you take and what happened:**
I have a cluster that is still provisioning and am trying to delete it by deleting the cluster object.
CAPI contract dictates that CAPM3 should then also start deleting its resources.
But that isnt happening, instead i end up with a stuck cluster, where i manually need to delete all resources with
`delete cluster,metal3cluster,machine,metal3machine,me

[2021-08-13 11:38] fmuyassarov opened #266 "Status subresource of BMH is getting big to fit in annotation"
As part of pivoting operation, we are storing bareMetalHost status subresource data in the `baremetalhost.metal3.io/status` annotation so that BMO in the target cluster can continue reconciliation from point it was before pivoting. In some cases, where there are quite many multipath disks attached to a BMH, e.g, 800 then the BMH `metadata.annotations` field becomes too big, because it stores stora

[2021-08-13 11:42] fmuyassarov commented on #266
Apparently it's not possible because it is a global limit

[2021-08-13 11:44] kashifest commented on #266
+1

[2021-08-18 20:06] fmuyassarov commented on #266
I'm copy-pasting @zaneb's comment here from the [closed issue](https://github.com/metal3-io/baremetal-operator/issues/952) but the same topic.

As discussed in the meeting today, I think in the long term the answer is to move this data to a separate CRD so that we don't have to include it in the status annotation.

In the meantime, collapsing the multipath disks (whatever those are) seems like a r

[2021-08-24 12:15] furkatgofurov7 commented on #160
This can be closed since the CAPI uplift PR #167 got merged already.

/close

[2021-08-24 12:15] #160 closed

[2021-09-10 12:18] fmuyassarov commented on #266
I've tried to keep only `status.hardware.nics`, `status.provisioning` in the annotation, but that didn't help and nodes went for another inspection. How feasible it is to start thinking and working on another CRD to store inspection data? @zaneb @dtantsur ?

[2021-09-27 07:56] fmuyassarov commented on #250
/retitle Improve logging of Data creation

[2021-09-27 08:22] fmuyassarov commented on #264
@MaXinjian
I don't think that it is possible to have those objects created before `Cluster/Metal3Cluster` is `Provisioned`.
And technically, if you delete the `Custer` which is still `Provisioning`, CAPM3 still should able to delete the `Metal3Cluster`.

[2021-09-27 08:24] fmuyassarov commented on #264
[code]

[2021-09-27 09:10] MaXinjian commented on #264
Thanks but seems you @ me for wrong, should be @MaxRink

[2021-09-27 09:50] fmuyassarov commented on #264
Ops, sorry

[2021-09-27 12:42] kashifest opened #301 "Change default branch to "main""
Once the community agrees on the naming, we need to change our default development branch to main, and check that any tools or references to it are changed as well.

CAPI and a couple of provider's repos already did this (CAPA, CAPZ for example)

Partially addresses [this](https://github.com/metal3-io/metal3-docs/issues/117).

/kind feature

[2021-09-27 12:43] kashifest commented on #301
I'll open PRs once we know what are the changes needed to accommodate this.

[2021-09-27 12:51] kashifest commented on #301
Steps

https://www.kubernetes.dev/resources/rename/

[2021-09-27 13:47] fmuyassarov commented on #250
/assign

[2021-09-27 13:50] fmuyassarov commented on #255
/priority important-soon

[2021-09-27 13:50] fmuyassarov commented on #255
/help wanted

[2021-09-27 13:53] fmuyassarov commented on #255
/help

[2021-10-05 19:45] fmuyassarov commented on #301
it might be worth to list them here, so that we could also add some in case missed

[2021-10-05 20:04] furkatgofurov7 opened #314 "Bump controller runtime version to v0.10 and controller tools to v0.7"
**Detailed Description**

For CAPI v1beta1 API version, bump CR release to v0.10+ and controller tools to v0.7+

**Anything else you would like to add:**

/kind feature

[2021-10-05 20:05] furkatgofurov7 opened #315 "Add v1beta1 types"
**Detailed Description**

Add new API type v1beta1 to Provider which will be the new hub.

**Anything else you would like to add:**

[Miscellaneous information that will assist in solving the issue.]

/kind feature

[2021-10-05 20:05] furkatgofurov7 opened #316 "Refactor v1alpha4 webhooks to convert to v1beta1 hub"
**Detailed Description**

For v1beta1, refactor v1alpha4 webhooks to convert to v1beta1 hub.

**Anything else you would like to add:**

[Miscellaneous information that will assist in solving the issue.]

We intend to support upgrades from v1alpha4 to v1beta1.

/kind feature

[2021-10-05 20:05] furkatgofurov7 opened #317 "Add v1alpha5 to v1beta1 conversions"
**Detailed Description**

For v1beta1, add conversions for v1alpha5

**Anything else you would like to add:**

[Miscellaneous information that will assist in solving the issue.]

We intend to support upgrades from v1alpha4 to v1beta1, so v1alpha4 conversions should not be deleted

/kind feature

[2021-10-05 20:05] furkatgofurov7 opened #318 "Add e2e upgrade tests for CAPM3 v1alpha4 -> v1beta1"
**Detailed Description**

 With the new upgrade path being enabled for CAPI, we want to add the tests in e2e to upgrade from v1alpha4 to v1beta1

**Anything else you would like to add:**

[Miscellaneous information that will assist in solving the issue.]

/kind feature

[2021-10-05 20:05] furkatgofurov7 opened #319 "Add E2E upgrade tests for CAPM3 v1alpha5 -> v1beta"
**Detailed Description**

 With the new upgrade path being enabled for CAPI, we want to add the tests in e2e to upgrade from v1alpha5 to v1beta1

**Anything else you would like to add:**

[Miscellaneous information that will assist in solving the issue.]

/kind feature

[2021-10-05 20:05] furkatgofurov7 opened #320 "Audit APIs"
**Detailed Description**

xref: [kubernetes-sigs/cluster-api#5304](https://github.com/kubernetes-sigs/cluster-api/pull/5304)

**Anything else you would like to add:**

[Miscellaneous information that will assist in solving the issue.]

/kind feature

[2021-10-05 20:05] furkatgofurov7 opened #321 "Bump clusterctl metadata to v1beta1"
**Detailed Description**

 For v1beta1 support, we should bump our metadata to v1beta1

**Anything else you would like to add:**

[Miscellaneous information that will assist in solving the issue.]

/kind feature

[2021-10-05 20:25] furkatgofurov7 opened #322 "Bump API version to v1beta1 [Tracking Issue]"
**Describe the solution you'd like**

- Bump API version to **v1beta1** to match Cluster API Core

**Anything else you would like to add:**

xref: [v1alpha4 -> v1beta1 changes for providers CAPI documentation](https://github.com/kubernetes-sigs/cluster-api/blob/main/docs/book/src/developer/providers/v1alpha4-to-v1beta1.md)

**Rough task list:**
- [x] https://github.com/metal3-io/cluster-api-provid

[2021-10-05 20:44] furkatgofurov7 commented on #314
Fixed in #307

/close

[2021-10-06 10:22] kashifest commented on #301
## Prerequisites

- [ ] Create an issue in your repo to track the branch rename.
You can paste this checklist in the issue body.

- [ ] If you are not a root approver for the repo, assign a root
approver for approval.

- [ ] Once the issue has been approved, send a notice to your SIG's
mailing list about the potential branch rename.

## Changes pre-rename

Make the following changes _before_ renam

[2021-10-08 13:55] MaxRink commented on #264
Not reliably, no.

[2021-10-08 19:10] pierrecregut opened #326 "There can be only one prefix for synced labels"
**What steps did you take and what happened:**
metal3.io/metal3-label-sync-prefixes implies by its name and implementation  that one can put several prefixes comma separated.  https://github.com/metal3-io/cluster-api-provider-metal3/blob/5949e2e3d246aa0b30bdf0a15e52d8ab0b8885f4/controllers/metal3labelsync_controller.go#L335
Unfortunately label values cannot contain commas.

**What did you expect t

[2021-10-13 18:13] #326 closed, assigned to nobody

[2021-10-18 08:48] andfasano opened #339 "Metal3DataTemplate DNS overrides are not applied"
**What steps did you take and what happened:**
I tried to provision a new cluster using a fresh metal3-dev-env and specifying a custom DNS.

[code]
[code]
DNS was configured by changing the default `8.8.8.8` value in the [metal3datatemplate-template.yaml](https://github.com/metal3-io/metal3-dev-env/blob/35cb4f4165e0546e3e63b18a647447151223076e/vm-setup/roles/v1aX_integration_test/templates/metal3d

[2021-10-31 12:42] fmuyassarov commented on #266
Proposal is opened in https://github.com/metal3-io/metal3-docs/pull/208 and ready for review.

[2021-11-03 07:35] kashifest commented on #301
This has been taken care of fully.
/closed

[2021-11-03 07:35] #301 closed

[2021-11-03 20:35] #315 closed

[2021-11-03 20:35] #316 closed

[2021-11-03 20:35] #317 closed

[2021-11-05 13:54] #244 closed

[2021-11-08 10:51] furkatgofurov7 commented on #321
Done in [cluster-api-provider-metal3/pull/341](https://github.com/metal3-io/cluster-api-provider-metal3/pull/341)

/close

[2021-11-08 10:51] #321 closed

[2021-11-09 11:15] #320 closed

[2021-11-15 17:53] furkatgofurov7 opened #383 "Controller managers should use "leases" for leader-election-resource-lock"
**What steps did you take and what happened:**
Run Cluster API.
See controller managers use "configmapsleases" for leader-election-resource-lock.

**What did you expect to happen:**
Controller managers use "leases" as for leader-election-resource-lock. This mitigates overwhelming the apiserver in a large management cluster and avoid additional rbac.

**Anything else you would like to add:**
Contro

[2021-11-18 09:36] slintes opened #392 "Reboot remediation is incomplete"
**What steps did you take and what happened:**
The reboot remediation currently does not delete the related Node, which prevents the cluster from moving workloads from uhealthy nodes to healthy nodes in time.

**What did you expect to happen:**
Node deletion & quick workload relocation.

**Anything else you would like to add:**
See comments here:
https://github.com/metal3-io/metal3-docs/pull/118#i

[2021-11-18 10:59] slintes commented on #392
/cc @macaptain @zaneb

[2021-11-19 07:21] macaptain commented on #392
To summarize the reasons for this change given in other discussions:

So, looks like fixing this will reduce downtime for workloads which were on the unhealthy BMH.

Furthermore, since we use a custom remediation controller to override CAPI's usual behavior to delete the Machine (which in turn deletes the node), we should be deleting the node ourselves since CAPI doesn't do that for us.

[2021-11-19 15:01] zaneb commented on #392
(Disclaimer: not an expert on this like @beekhof and team are) I don't know that it's quite as bad as 20 minutes. I believe there's a timeout after which, not having heard a heartbeat from the Node, k8s will consider the Pods on that Node dead and any stateful workloads will be rescheduled. From memory the timeout is 5 minutes.

It _may_ be that when testing Metal³ on VMs, where the Node will rest

[2021-11-22 06:24] beekhof commented on #392
k8s will ask the node to release the resources, but since the node can't respond, nothing gets actually rescheduled until the node responds or someone/something deletes the Node.

I don't believe this is the case, but I'm not an expert on that

[2021-11-24 17:52] Arvinderpal opened #402 "Support for Failure Domains in CAPM3"
**User Story**

As an operator who has placed their baremetal infrastructure across different failure domains (FDs), I would like CAPM3 to associate Nodes with BMHs from the desired failure domain.

**Detailed Description**

CAPI supports failure domains for both control-plane and worker nodes (see CAPI provider contract for [Provider Machine](https://cluster-api.sigs.k8s.io/developer/providers/ma

[2021-11-24 17:53] Arvinderpal commented on #402
/assign

[2021-11-24 17:55] Arvinderpal commented on #402
@fmuyassarov @kashifest @furkatgofurov7 @maelk
Appreciate your thoughts on this. I would be happy to put together a PR for this.

[2021-11-29 09:30] fmuyassarov opened #410 "Allow blocking of automatedCleaningMode synchronization between M3MT/M3M and BMH"
**User Story**
I would like to disable the disk cleaning for all bareMetalHosts of the same metal3MachineTemplate except the one that I'm adding  when doing a scale in. So, I would like one bareMetalHost to have a different config for `automatedCleaningMode` ,  but it also gets overridden because metal3 machine controller forces update on  bareMetalHosts to have the same config in  bareMetalHosts

[2021-11-29 09:31] fmuyassarov commented on #410
/assign @fmuyassarov

[2021-11-30 16:41] #246 closed

[2021-12-02 09:17] #410 closed

[2021-12-09 10:46] #383 closed

[2022-01-03 22:20] furkatgofurov7 commented on #319
/remove-lifecycle stale

[2022-01-03 22:20] furkatgofurov7 commented on #318
/remove-lifecycle stale

[2022-01-10 10:44] furkatgofurov7 commented on #318
For now, as it was discussed internally, we would only support e2e tests going from CAPM3 v1a5 ==> v1b1 (CAPI v1a4 ==> v1b1) and not the versions on this issue, so closing it.

/close

[2022-01-10 10:44] #318 closed

[2022-01-10 10:44] furkatgofurov7 commented on #319
/assign @mboukhalfa

[2022-01-12 10:14] MaxRink commented on #250
/remove-lifecycle stale.

[2022-01-16 20:09] fmuyassarov commented on #339
/remove-lifecycle stale

[2022-01-18 15:38] furkatgofurov7 commented on #255
/remove-lifecycle stale

[2022-01-18 15:54] furkatgofurov7 commented on #339
@andfasano hi! We have seen something similar in https://github.com/metal3-io/metal3-dev-env/issues/895 and [this](https://github.com/metal3-io/metal3-dev-env/issues/895#issuecomment-1006808117) helped to work around it.

[2022-01-18 15:54] furkatgofurov7 commented on #266
/assign @fmuyassarov

[2022-01-18 15:58] furkatgofurov7 commented on #264
/remove-lifecycle stale
@MaxRink please feel free to reopen or open the new issue if you encounter the same problem again in the future.

/close

[2022-01-18 15:58] #264 closed

[2022-01-18 16:19] furkatgofurov7 commented on #322
This is a tracking issue and should be closed automatically once child issue https://github.com/metal3-io/cluster-api-provider-metal3/issues/319 is closed.

[2022-01-18 16:30] Arvinderpal commented on #255
@furkatgofurov7 At firs glance, looks like #454 should address this. I think we can close for now. Thank you

[2022-01-18 16:30] #255 closed

[2022-01-19 17:38] furkatgofurov7 commented on #250
/remove-lifecycle stale

[2022-01-21 11:43] furkatgofurov7 commented on #402
@Arvinderpal hi! Thanks for taking this up here and sorry for the late reply. The addition looks interesting and by going through the linked issues and related PRs, some works on improving the FD support seem to be ongoing. Also, just wondering, how is the situation with other providers (BM concerned), do they already support this feature?

[2022-01-25 18:33] MaxRink commented on #402
@furkatgofurov7 CAPV does, by https://doc.crds.dev/github.com/kubernetes-sigs/cluster-api-provider-vsphere/infrastructure.cluster.x-k8s.io/VSphereDeploymentZone/v1beta1@v1.0.2 and https://doc.crds.dev/github.com/kubernetes-sigs/cluster-api-provider-vsphere/infrastructure.cluster.x-k8s.io/VSphereFailureDomain/v1beta1@v1.0.2

the Provider for MAAS also supports them, at least in spec
https://doc.crd

[2022-01-26 13:03] furkatgofurov7 opened #489 "Test Issue 1"

[2022-01-26 15:52] furkatgofurov7 commented on #489
/transfer metal3-dev-env

[2022-02-02 08:49] fmuyassarov opened #500 "Live ISO support is missing in the v1beta1 and v1alpha5 API types"
Live ISO support was added to v1alpha3 and v1alpha4 API types in https://github.com/metal3-io/cluster-api-provider-metal3/commit/43d0ece54e7f839cf65821cb6e1e4d108b4a6b7a. However, we are currently missing it in v1alpha5, and v1beta1 API types https://github.com/metal3-io/cluster-api-provider-metal3/blob/a8098b4bc8d85db91de2a7456acc234e72f653c7/api/v1beta1/common_types.go#L71

/kind bug

[2022-02-02 14:50] Rozzii commented on #500
/triage accepted

[2022-02-03 07:55] Rozzii commented on #250
/triage accepted

[2022-02-03 07:55] Rozzii commented on #266
/triage accepted

[2022-02-03 07:55] Rozzii commented on #319
/triage accepted

[2022-02-03 07:59] Rozzii commented on #322
/triage accepted
/kind design
/kind feature

[2022-02-03 07:59] Rozzii commented on #339
/triage accepted

[2022-02-03 08:01] Rozzii commented on #392
/triage accepted

[2022-02-03 08:01] Rozzii commented on #402
/triage accepted

[2022-02-03 08:02] Rozzii commented on #500
/help wanted

[2022-02-03 08:02] Rozzii commented on #500
/help

[2022-02-03 14:39] Arvinderpal commented on #402
Sorry about the delay. Support for FDs with control plane (KCP) nodes is supported within capi. I believe all providers also follow that approach.
For worker nodes, there is still some discussion to be had with the broader capi community. There is some initial discussion in https://github.com/kubernetes-sigs/cluster-api/issues/5666 and my PR linked within it.

I think we can start with CP nodes. A

[2022-02-08 13:07] furkatgofurov7 opened #508 "Drop v1alpha4 support on main branch"
Based on https://cluster-api.sigs.k8s.io/contributing?highlight=support#support-and-guarantees, CAPI is planning to stop supporting API version v1alpha3 (CAPM3 v1alpha4 compatible) from 2022-02-23.
The notice to drop the CAPM3 v1a4 support was given during the metal3 community meeting on 2022-01-26, this is the issue created for visibility and get to know if there are any objections to these chang

[2022-02-08 13:07] furkatgofurov7 commented on #508
/triage accepted
/assign

[2022-02-08 13:08] furkatgofurov7 commented on #508
/kind feature

[2022-02-14 15:35] chatla-telekom commented on #250
/assign

[2022-02-17 06:13] macaptain commented on #500
@dtantsur, we talked about a CI test on the mailing list covering this behavior. I made some progress in this area, but unfortunately haven't quite got time to finish. Luckily I've handed over the task of adding CI for 'live-is' to @Xenwar.

/assign @Xenwar

[2022-02-17 07:39] fmuyassarov commented on #500
/lifecycle active

[2022-02-17 14:00] #500 closed

[2022-02-22 14:37] furkatgofurov7 commented on #402
@MaxRink thanks.

Got it, thanks for the info and I went through them some time ago.

Agree, but I would suggest opening a proposal for community review and discussing the details of the implementation there as we usually do for these kinds of new features.

[2022-02-22 17:28] Arvinderpal commented on #402
Thanks @furkatgofurov7
I'll put a proposal together and share it.

[2022-02-22 21:43] kplimack opened #542 "add image signatures to github action pipeline"
**User Story**
As a consumer of OCI images from the internet, I'd like be to be sure that the image I'm running on my production servers within my perimeter are, in fact, what I think they are.  By creating an SBOM and signing the image at build time, I can verify the signature at runtime and ensure the SBOM contents match.

Quay added support for signatures last week
https://twitter.com/decodebyt

[2022-02-23 16:01] #508 closed

[2022-02-25 02:10] Arvinderpal commented on #402
Here is the PR with the proposal: https://github.com/metal3-io/metal3-docs/pull/249
@furkatgofurov7 @MaxRink @Rozzii PTAL

I will bring it up during our next metal3 office hours as well. Thank you

[2022-03-02 14:21] Rozzii commented on #542
/kind feature

[2022-03-02 14:21] Rozzii commented on #542
CI/CD maintainers have started the planning related to this.

[2022-03-08 10:00] #319 closed

[2022-03-11 19:36] janiskemper opened #565 "Wrong parameter for recursion in deleteOwnerRefFromList"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
If you use a refList as input where one owner ref is deleted, then the recursion is called. In this recursion, the last two elements of the array are being cut off.

**What did you expect to happen:**
In the recursion we should only cut off one element, the one that is supposed to be delet

[2022-03-15 13:52] furkatgofurov7 commented on #322
This was a tracking issue and all the issues inside are closed now, so closing this one as well.

/close

[2022-03-15 13:52] #322 closed, assigned to nobody

[2022-03-16 14:16] Rozzii commented on #565
/triage-accepted

[2022-03-17 00:07] Arvinderpal commented on #402
@furkatgofurov7 @MaxRink @Rozzii PTAL at the proposal: https://github.com/metal3-io/metal3-docs/pull/249
Would appreciate your feedback. Thanks

[2022-03-17 11:47] Rozzii commented on #565
/triage accepted

[2022-03-18 09:16] Xenwar opened #575 "Run providerID uniqueness regularly."
ProviderIDs should be uniquely associated with a Kubernetes node.
As we have it now, the CAPM3 controller does two things with respect to the uniqueness of the providerID

1. Verifies the providerID of the would be provisioned node is not in use by existing nodes.
2. Checks if existing nodes are not using the same providerID in either its legacy or new formats.

The issue with the latter is that i

[2022-03-18 09:16] Xenwar commented on #575
/assign @kashifest

[2022-03-18 09:19] kashifest commented on #575
/unassign @kashifest

[2022-03-30 08:03] Xenwar opened #588 "remove GetProviderIDAndBMHID function"
The function GetProviderIDAndBMHID  is called here here

https://github.com/metal3-io/cluster-api-provider-metal3/blob/1464a1693312b669e16aa78c13ab05190aa9c984/controllers/metal3machine_controller.go#L257-L258

and defined here

https://github.com/metal3-io/cluster-api-provider-metal3/blob/1464a1693312b669e16aa78c13ab05190aa9c984/baremetal/metal3machine_manager.go#L1304-L1314

From the caller’s pe

[2022-03-30 08:03] Xenwar opened #589 "break the duplicateProviderIDsExist function into two separate functions"
providerID duplication can happen for multiple reasons. For example:
Manual modification of cloud init data
An isolated/dead node rejoining a clustes

Due to these and other reasons, it might be good run the detection logic regularly, not only during node provisioning.

**to do:**
break the duplicateProviderIDsExist function into two as follows

[code]
**duplicateProviderIDsExist** runs regularly,

[2022-03-30 08:03] Xenwar opened #590 "get BMH UID from metal3Machine resource in SetNodeProviderID"
The bmhID passed by the caller to SetNodeProviderID is not reliable and should be used for two reasons.
It is not new information, It was extracted from the providerID (also sent by the caller).

The providerID is retrieved from a metal3Machine resource
https://github.com/metal3-io/cluster-api-provider-metal3/blob/1464a1693312b669e16aa78c13ab05190aa9c984/baremetal/metal3machine_manager.go#L1320

T

[2022-03-30 08:03] Xenwar opened #591 "improvements on providerID logic"
During the work on the new providerID format, there were some improvement ideas discussed.
This issue tracks these issues. For each suggestion, a github issue is created, listed below.

https://github.com/metal3-io/cluster-api-provider-metal3/issues/588
https://github.com/metal3-io/cluster-api-provider-metal3/issues/589
https://github.com/metal3-io/cluster-api-provider-metal3/issues/590

[2022-03-30 08:03] Xenwar opened #592 "improvements on test object names"
As we have now, test objects are using hard code names and different object types are using the same objectMeta.
This has made changing the tests very difficult. The following issues address such issues, more needs to be done to fix the problem.
Use this issue to track the completion of these tasks and to follow subsequent PRs.

https://github.com/metal3-io/cluster-api-provider-metal3/pull/581
htt

[2022-03-30 08:07] kashifest commented on #592
/cc @maelk , we would need your opinion on these

[2022-03-30 14:20] Rozzii commented on #575
/triage accepted
/help
/kind feature

[2022-03-30 14:24] Rozzii commented on #589
/triage accepted
/kind feature

[2022-03-30 14:25] Rozzii commented on #590
/triage accepted
/kind feature

[2022-03-30 14:25] Rozzii commented on #591
/triage accepted
/kind feature

[2022-03-30 14:25] Rozzii commented on #592
/triage accepted
/kind feature

[2022-04-07 13:55] #250 closed

[2022-05-04 10:33] fmuyassarov commented on #266
//lifecycle active

[2022-05-04 10:34] fmuyassarov commented on #266
/lifecycle active

[2022-05-04 19:53] slintes commented on #392
/remove-lifecycle stale

[2022-05-16 16:22] #266 closed

[2022-05-18 10:40] #592 closed

[2022-05-25 10:45] Xenwar commented on #591
ProviderID logic has changed recently. Due to that, the suggested improvements are no longer relevant. closing this and the sub-issues.

[2022-05-25 10:45] #591 closed

[2022-05-25 10:46] Xenwar commented on #588
ProviderID logic has changed recently. Due to that, the suggested improvements are no longer relevant. closing this and the sub-issues.

[2022-05-25 10:46] #588 closed

[2022-05-25 10:46] Xenwar commented on #589
ProviderID logic has changed recently. Due to that, the suggested improvements are no longer relevant. closing this and the sub-issues.

[2022-05-25 10:46] #589 closed

[2022-05-25 10:46] Xenwar commented on #590
ProviderID logic has changed recently. Due to that, the suggested improvements are no longer relevant. closing this and the sub-issues.

[2022-05-25 10:49] Xenwar commented on #575
ProviderID logic has changed recently. Due to that, the suggested improvements are no longer relevant. closing this and the sub-issues.

[2022-05-25 10:49] #575 closed

[2022-05-25 13:56] furkatgofurov7 opened #630 "IP reuse feature support in CAPM3 using new M3IPClaim name format"
**User Story**

As a [developer/user/operator] I would like to make IP addresses or IP allocations that will be attached to the nodes in the chain of (BMH <==> M3M <==> CAPI machine) Metal3 objects predictable.

**Detailed Description**

As is now, an M3IPPool is an object representing a set of IP address pools to be used for IP address allocations. An M3IPClaim is an object representing a request

[2022-05-25 14:13] Rozzii commented on #630
/triage accepted

[2022-06-08 14:40] Rozzii commented on #542
assign @Rozzii

[2022-06-10 14:28] #339 closed

[2022-06-22 07:21] sailorvii opened #649 "Add operators to suport allocating empty bare-metal."
**User Story**

As developers, we are developing a feature to support a bare-metal platform. I'm not sure if it's useful for others.

**Detailed Description**

In our scenario, some customers like to acquire an empty bare-metal host or a group of hosts.
Furthermore, users hope that host could pre-install the customized application.
It's a pure bare-metal management platform without guest Kubernete

[2022-06-22 08:40] furkatgofurov7 commented on #402
/remove-lifecycle stale

[2022-06-22 14:17] Rozzii commented on #649
The community is willing to continue the discussion if you provide a design document PR in metal3-docs repository.
Based on the design document the community will decide whether it is OK to continue with the implementation or not.

Also please not that using the "machine" word has issues in our community because it refers to the Machine object in Metal3 context so please refrain from using it if y

[2022-06-22 18:18] Xenwar commented on #590
The issue has surfaced again. Re-opening the issue again. Just to emphasise the main point,
The `bmhID` is extracted from `Metal3Machine.Spec.ProviderID` that, in turn, comes from a user supplied templated.
If the use supplies wrong value, the the bmhID is incorrect as well.

Basically, the Metal3Machine, via owner reference, knows what bmh it is related to. And, using that reference, I can easily

[2022-06-23 15:46] Xenwar opened #651 "Add more logs for providerID and bmhID information"
If we add more log entries containing the providerID and/or bmhIDs, it could help in debugging processes. Here are some locations that I think are relevant, add more if you see it useful.

https://github.com/metal3-io/cluster-api-provider-metal3/blob/97db1587948235df33acb39b3b02fa327c582bab/controllers/metal3machine_controller.go#L259

https://github.com/metal3-io/cluster-api-provider-metal3/blob/

[2022-06-24 08:06] sailorvii opened #652 "error panic"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
When associating host, it panic.
I check the code and find there's a mistake.

https://github.com/metal3-io/cluster-api-provider-metal3/blob/main/baremetal/metal3machine_manager.go#400
		if ok := errors.As(err, aggr); ok {

There should be a "&" like:
		if ok := errors.As(err, &aggr); ok {

[2022-06-28 14:59] shachard opened #653 "Control plane provisioning doesn't complete"
Hi,

1) I installed a mgmt. cluster using kind and used clusterctl to deploy the metal3 provider:
     clusterctl init --infrastructure metal3
2) Then I installed the bare-metal operator (from source) and ran ironic on the host using tools/run_local_ironic.sh (with podman).
3) I added 2 baremetal hosts, they were successfully inspected by ironic and show as "available"
4) I generated a yaml for a

[2022-06-29 08:32] shachard commented on #653
Thanks for replying,

Do you mean the logs of the metal3 pods or of the baremetal servers?
Why do you suspect a communication issue with ironic?
Ironic has successfully inspected the nodes but didn't start the actual provisioning, and the bmh object didn't change its state from "available".

Shachar

[2022-06-30 06:13] zhouhao3 commented on #652
/assign @zhouhao3

[2022-07-05 15:04] mboukhalfa opened #660 "Although my username exists in the reviewer list I could add lgtm"
**What steps did you take and what happened:**
I added /lgtm comment on the PR #658 and I got the bot answer : `@mboukhalfa: adding LGTM is restricted to approvers and reviewers in OWNERS files. `

**What did you expect to happen:**
PR get LGTM label

/kind bug

[2022-07-05 15:09] furkatgofurov7 commented on #660
@mboukhalfa this is correct, since you are not in the OWNERS list (not synced with main branch) in the release-0.5 branch, you were not able to label the PR.

[2022-07-05 15:10] furkatgofurov7 commented on #660
/triage accepted

[2022-07-05 15:11] mboukhalfa commented on #660
Ah I did not notice that ! Would be great if we can automated syncing the OWNERS file or it may be different for each branch !

[2022-07-05 15:37] furkatgofurov7 commented on #660
ideally it should be same. Regardless, this issue can be closed and if needed automation of OWNERS can be discussed in a separate issue IMO.

[2022-07-05 15:47] #660 closed

[2022-07-05 16:39] #652 closed

[2022-07-06 14:10] Rozzii commented on #651
/triage accepted
/kind feature
/help

[2022-07-07 11:49] MaxRink opened #665 "V1.1.2 fails with Storage Errors"
**What steps did you take and what happened:**

We rolled out v1.1.2 and started to notice that new nodes do not roll out anymore.
We took a look at the logs and noticed that writes for CAPI machines and other things are failing, but they work again after downgrading to 1.1.1

[code]
Full logs:
https://gist.github.com/MaxRink/6e0f56c8f3f00718ccc5e008a32060ba

**What did you expect to happen:**

**

[2022-07-07 12:54] Xenwar commented on #665
In reference to our conversation on slack,
A note on the absence of the providerID and presence of the node-label on the template.
[code]
The purpose of the `node-labels` is to **locate** the node/server and **assign** it the `provider-id`.
So, if you omit the `provider-id` for any reason, then the `node-labels` should be omitted as well.

[2022-07-07 14:56] MaxRink commented on #665
@Xenwar this is unrelated, thats the issue preventing us from trying if it still occours in the latest version

[2022-07-14 15:08] schrej opened #671 "Add Support for CAPI IPAM Contract"
**User Story**

As a operator I would like to use the new CAPI IPAM contract with metal3 in order to integrate with different IPAM solutions.

**Detailed Description**

The CAPI IPAM contract is now [implemented](https://github.com/kubernetes-sigs/cluster-api/pull/6313) and released as part of CAPI 1.2.0-rc.0.

In order to support it, we'll need to be able to reference IP Pools implemented by vari

[2022-07-20 14:42] Rozzii commented on #665
/triage accepted
/kind bug
/help

[2022-07-20 14:45] Rozzii commented on #671
/triage accepted
Thank you for opening this issue @schrej we would really like to include this feature!

[2022-07-20 14:45] Rozzii commented on #671
/assign @schrej

[2022-08-08 12:08] lentzi90 opened #680 "CAPM3 uses IPClaims with deletion timestamp"
**What steps did you take and what happened:**

This bug occurs when IPAM for some reason doesn't have time to delete the IPClaim before a new one is needed. For example during a rolling upgrade of the KCP. In order to easily reproduce it and simulate a "slow" IPAM, we can simply scale it down to 0.

1. Scale IPAM to 0
2. Trigger upgrade of KCP
3. Wait for all machines to be updated. Notice that t

[2022-08-08 12:09] lentzi90 commented on #680
/assign

[2022-08-08 12:15] smoshiur1237 commented on #680
/triage accepted

[2022-08-11 07:24] k82cn opened #682 "failed to update BaremetalHost: host not found for machine"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

Metal3Machine failed to update BareMetalHost, and there's no other log between Associate and Update as follow. It seems Associate return at https://github.com/metal3-io/cluster-api-provider-metal3/blob/main/baremetal/metal3machine_manager.go#L297 , and can not recovered.

[code]

**What d

[2022-08-11 11:27] k82cn commented on #682
That's because the configuration is incorrect, but when I correct that, it does not bind to BMH.

[2022-08-14 19:33] fmuyassarov commented on #671
As discussed in the last community meeting, I'm +1 for the change.
For the new fields discussed in the description, perhaps defaulting them to metal3 ipam types would help to understand it better which ipam is being used instead of leaving it empty and assuming that metal3 ipam is in use.
/cc @kashifest any thoughts on the addition? I don't see any blockers and @schrej is willing to contribute.

[2022-08-15 06:51] kashifest commented on #671
+1 for this. @schrej Thanks a lot for working on this.

[2022-08-17 13:54] schrej commented on #671
The current IPAM contract does not support specifying DNS servers. What was the reason to specify that on the IPPool/IPAddress resources? Do we still need that?

From what I can see, the current implementation would allow to reference a pool to get a Gateway from, even if the server machine has no interface that references the same pool. An IP would still be allocated from the pool, and only the G

[2022-08-18 06:24] lentzi90 opened #689 "Live-iso e2e test broken due to validation webhook"
**What steps did you take and what happened:**

Run the parallel e2e test: `/test-ubuntu-e2e-parallel-main`
The live-iso test fails with this:

[code]

**What did you expect to happen:**

No error should happen.

**Anything else you would like to add:**

This is most likely due to https://github.com/metal3-io/baremetal-operator/pull/1107
But it is unclear if the issue is in the test itself, in the

[2022-08-19 15:17] schrej commented on #682
I just ran into the same problem with an incorrect configuration failing silently. There is no log message when the configuration is invalid (why?), but an error status is set on the Metal3Machine status. Unfortunately that error gets overwritten briefly after the `Associate` method finishes [here](https://github.com/metal3-io/cluster-api-provider-metal3/blob/main/controllers/metal3machine_control

[2022-08-22 08:00] schrej opened #692 "image checksum can no longer be set to a hash"
**What steps did you take and what happened:**
Set `spec.image.checksum` of `Metal3Machine` to a md5 hash. The m3m is deemed invalid and reconciliation is aborted.

**What did you expect to happen:**
The machine gets reconciled and the hash is used for verification, as per its [description](https://github.com/metal3-io/cluster-api-provider-metal3/blob/main/api/v1beta1/common_types.go#L61).

**Anyt

[2022-08-24 14:08] dtantsur commented on #689
Is a valid error: IPMI cannot be used with live-iso. We need to use redfish-virtualmedia or another virtual media based driver.

[2022-08-24 14:09] dtantsur commented on #689
/triage accepted

[2022-08-24 14:15] lentzi90 commented on #692
/triage accepted

[2022-08-24 14:29] lentzi90 commented on #682
/help

[2022-08-24 14:29] lentzi90 commented on #682
/remove-label triage/needs-information

[2022-08-24 14:34] furkatgofurov7 commented on #653
Hi,

Sorry for being late on this. Is the IMAGE_URL set to provision the host is correct and available?

[2022-08-24 14:37] furkatgofurov7 commented on #630
/remove-lifecycle stale

[2022-08-25 04:55] lentzi90 commented on #689
Fixed by #690
/close

[2022-08-25 04:55] #689 closed

[2022-08-28 06:54] shachard commented on #653
Hi,
I eventually succeeded in provisioning the nodes, the issue was the network interfaces -
I couldn't find a way to configure which interfaces to use so I needed to disable all the other interfaces on my node (in the BIOS) and leave only those I wanted to use. Is there any any way to control this as part of the deployment variables?

[2022-08-31 10:09] furkatgofurov7 commented on #653
Well, we do also directly set interface names explicitly https://github.com/metal3-io/metal3-dev-env/blob/main/tests/roles/run_tests/templates/cluster-template-workers-kubeadm-config-ubuntu.yaml#L15, you just have to make sure which one you wanted to use

[2022-08-31 11:20] shachard commented on #653
This is the provisioning interface, right? Is there a way to specify the mgmt. interface as well?
BTW, do you support using the same interface but different VLANs for provisioning and mgmt.? Are there examples for this?

[2022-08-31 14:20] Rozzii commented on #671
@furkatgofurov7 @lentzi90

[2022-08-31 14:29] schrej commented on #671
Maybe to make this a little clearer: Practically it only makes sense to allocate an IP address from a pool if it's either referenced from `m3dt.Spec.MetaData.IPAddressesFromPool` or `m3dt.Spec.NetworkData.Networks.{IPv4,IPv6}`. If no such reference exists, the address itself remains unused.
But with the current implementation, any reference to an IP pool (interestingly even from something like `m3

[2022-09-06 07:49] lentzi90 opened #705 "Machine stuck in failed because of temporary Metal3Machine error"
**What steps did you take and what happened:**

In [this e2e test](https://jenkins.nordix.org/job/metal3_capm3_main_e2e_test_centos/65/consoleFull) one Machine got stuck in `Failed` state because one of the Metal3Machines had a temporary error.
The failure message (seen on the Machine) was:

[code]

Logs from CAPM3 revealed the source of the error:

[code]

After the error, the Metal3Machine was s

[2022-09-06 08:42] furkatgofurov7 commented on #705
/triage accepted
We have seen this before and happening occasionally, but it started to appear more frequently now.

[2022-09-07 05:52] lentzi90 commented on #671
+1 for changing the behavior to only allocate addresses when the address will be used.

Perhaps a bit premature, but any thoughts on how one would "upgrade" an existing cluster to the CAPI IPAM?

[2022-09-07 13:44] furkatgofurov7 commented on #671
I had a discussion about this with the person (left the project) who mostly worked on IPAM, there seems to be no specific reason for that and it was mostly to be close as possible to a DHCP answer. And also, we do not think we need that.

Makes sense to me, +1

[2022-09-07 14:22] schrej commented on #671
Regarding the behaviour change regarding IP allocation:
What's metal3's backwards compatibility policy, and how will we handle that? Can we just change that with a minor version because "it doesn't make sense"? Do we need a new API version? Does that mean we need to wait for v2?

Rough thoughs regarding upgrades (would require a node roll)
- import existing Claims and IPs to a CAPI compatible ipam

[2022-09-07 14:37] Rozzii commented on #542
/remove-lifecycle stale

[2022-09-13 10:13] furkatgofurov7 commented on #671
We plan to [discuss](https://kubernetes.slack.com/archives/CHD49TLE7/p1663062260106299?thread_ts=1663010673.978269&cid=CHD49TLE7) these in the upcoming community meeting (14/09/22) a bit more in detail and also get feedback from the community.

[2022-09-13 14:41] #630 closed

[2022-09-14 15:22] schrej commented on #671
Decision from from community meeting on 14. Sep. 2022:
- we're not going to change existing allocation behaviour related to ip-address-manager
- migration should be done with a transparent proxy mode if ip-address-manager to ensure smooth operation

[2022-09-14 15:57] furkatgofurov7 commented on #671
Maybe for reference and not to forget about it, here is https://github.com/metal3-io/cluster-api-provider-metal3/commit/4d271bc86c8d1ad5722f7572c4f7a48c4a22fb9f the feature implementation using preAllocation, where claim name constructed from BMH name + ippool name if feature is enabled, otherwise keeps the current behaviour (dataname + ippool name)

[2022-09-15 10:19] #692 closed

[2022-09-20 09:33] furkatgofurov7 commented on #402
/remove-lifecycle stale

@Arvinderpal Hi, the proposal has been merged for this feature some time ago, thanks for working on it! Are there plans to implement it in CAPM3 soon?

[2022-09-21 13:44] furkatgofurov7 commented on #542
@Rozzii it would be great if you could give an overview and a bit more detailed information about the work items in this issue to be able to close it, thanks!

[2022-09-21 13:45] furkatgofurov7 commented on #590
/remove-lifecycle stale

This is still relevant. @lentzi90 by any chance you were planning to work on this?

[2022-09-21 13:51] furkatgofurov7 commented on #665
@schrej is this by any chance related to https://github.com/metal3-io/cluster-api-provider-metal3/pull/693#issuecomment-1247952527?

[2022-09-21 13:54] furkatgofurov7 commented on #682
@k82cn hi. As I already [commented](https://github.com/metal3-io/cluster-api-provider-metal3/pull/683#issuecomment-1248489801) on the #683 can you confirm we are safe to close this?

[2022-09-21 14:07] schrej commented on #665
No. #693 blocked us because we're directly setting image hashes, and the validation prevented us from doing so.

We tried to debug where these storage errors come from but weren't able to figure it out so far.

[2022-09-22 05:01] lentzi90 commented on #590
Yes I can take it!
/assign

[2022-09-26 08:15] petro-rudenko commented on #705
Also reproduces on creating cluster:

[code]

[2022-10-08 02:55] sailorvii commented on #649
https://github.com/metal3-io/metal3-docs/pull/268

[2022-10-17 06:27] mboukhalfa opened #763 "Gosec complains when creating files with permission higher than 0600 and tests fail in the other case"
**What steps did you take and what happened:**
After moving `imageDownload` function to common.go `gosec` started complaining about creating file with permission higher than 0600 however if we created those files with 0600 permission the test will fail.

[code]
**What did you expect to happen:**
Changing permission for 0777 to 0600 and the tests pass

**Anything else you would like to add:**

**En

[2022-10-19 13:57] Rozzii commented on #763
This has been discussed offline and most probably this PR will be closed.

[2022-11-01 07:27] Rozzii commented on #763
/close

[2022-11-01 07:27] #763 closed

[2022-11-02 19:49] furkatgofurov7 opened #773 "Adopt and test CAPI v1.3.0-beta.0 release"
CAPI  v1.3.0-beta.0 is live now, and this issue tracks the adoption and testing of the new beta release in CAPM3.

Slack: https://kubernetes.slack.com/archives/C8TSNPY4T/p1667414755279279
Release: https://github.com/kubernetes-sigs/cluster-api/releases/tag/v1.3.0-beta.0
Migration guide: https://github.com/kubernetes-sigs/cluster-api/blob/v1.3.0-beta.0/docs/book/src/developer/providers/v1.2-to-v1.3

[2022-11-02 19:50] furkatgofurov7 commented on #773
/triage accepted
/lifecycle-active